<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Navbar</a>
  
    <a href="#" class="float-left">
        <img class="img-size " src="../../assets/icon/add icon.png" alt="">
    </a>
    <a href="#" class="float-left" >
        <img class="img-size " src="../../assets/icon/active icon.png" alt="">
    </a>
    <a href="#" class="float-left">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" >
    </a>
  

    
    <form class="form-inline">
        <a href="#" class="navbar-brand">
            <img class="img-size" src="../../assets/icon/notification icon.png" alt="">
        </a>
        <a href="#" class="navbar-brand">
            <img class="img-size" src="../../assets/icon/fille icon.png" alt="">
        </a>
        <a href="#" class="navbar-brand">
            <img class="img-size" src="../../assets/icon/setting icon.png" alt="">
        </a>
        <a href="#" class="navbar-brand">
            <img class="img-size" src="../../assets/icon/helps icon.png" alt="">
        </a>
        <a href="#" class="navbar-brand">
            <img class="img-size" src="../../assets/icon/user icone.png" alt="">
        </a>
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    </form>
  </nav>