<!-- <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Navbar</a>
  
    <a href="#" class="float-left">
        <img class="img-size " src="../../assets/icon/add icon.png" alt="">
    </a>
    <a href="#" class="float-left" >
        <img class="img-size " src="../../assets/icon/active icon.png" alt="">
    </a>
    <a href="#" class="float-left">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" >
    </a>
  

    
    <form class="form-inline">
        <a href="#" class="navbar-brand">
            <img class="img-size" src="../../assets/icon/notification icon.png" alt="">
        </a>
        <a href="#" class="navbar-brand">
            <img class="img-size" src="../../assets/icon/fille icon.png" alt="">
        </a>
        <a href="#" class="navbar-brand">
            <img class="img-size" src="../../assets/icon/setting icon.png" alt="">
        </a>
        <a href="#" class="navbar-brand">
            <img class="img-size" src="../../assets/icon/helps icon.png" alt="">
        </a>
        <a href="#" class="navbar-brand">
            <img class="img-size" src="../../assets/icon/user icone.png" alt="">
        </a>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav> -->

<div class="card ">
    <div class="card-header">


        <a class="navbar-brand float-left" href="#"> <i class="fas fa-pallet"></i>Inventory</a>
        <a href="#" class="nav-link float-left"><i class="fas fa-plus-circle"></i></a>
        <a href="#" class="nav-link float-left"><i class="fas fa-history"></i></a>
        
        <div class="from-inline float-left" *ngIf="this.search">
            <div class="input-group ">
                <span class="input-group-text"> <a href="#" ><i class="fas fa-search"></i></a></span>
                <input type="text" class="form-control" placeholder="Username">
          </div>
        </div>
       

        <a href="#" class="nav-link float-right"><i class="fas fa-folder-open"></i></a>
        <a href="#" class="nav-link float-right"><i class="fas fa-cog"></i></a>
        <a href="#" class="nav-link float-right"><i class="far fa-question-circle"></i></a>
        <a href="#" class="nav-link float-right"><i class="fas fa-user"></i></a>

    </div>
</div>


<!-- <nav class="navbar navbar-dark bg-dark">

    <a class="navbar-brand" href="#">
        <i class="fas fa-pallet"></i>
        Inventory

    </a>
    <div class="">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link ">
                    <i class="fas fa-plus-circle"></i>
                </a>
            </li>
           
            <li class="navbar-nav">
                <a href="#" class="nav-link">
                    <i class="fas fa-history"></i>
                </a>
            </li>
            
           
            <li class="navbar-nav">
                <a href="#" class="nav-link">
                    <i class="fas fa-search"></i>
                </a>
            </li>
        </ul>
        <ul>
            <li  class="navbar-nav">
                <a href="#" class="nav-link">
                    <i class="fas fa-folder-open"></i>
                </a>
            </li>
            <li  class="navbar-nav" >
                <a href="#" class="nav-link">
                    <i class="fas fa-cog"></i>
                </a>
            </li>
            <li class="navbar-nav">
                <a href="#" class="nav-link">
                    <i class="far fa-question-circle"></i>
                </a>
            </li>
            <li class="navbar-nav" >
                <a href="#" class="nav-link">
                    <i class="fas fa-user"></i>
                </a>
            </li>
        </ul> -->

<!-- </div>

</nav> -->